*{
  font-family: 'Poppins', sans-serif;
}

body{
background-color: rgb(79, 79, 79);

}

  html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }

.main_container{
padding: 0px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;

}
    
.main_container_aptitudes{
  padding: 0px;
  border: 15px inset #737373;
  z-index: 1000;
  overflow-x: hidden;
}

.big_content{
  /*padding-top: 25px;*/
  width: 300%;
  display: flex;
  transition: all 1s ease;
  z-index: 100;
}

#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(79, 79, 79);
  color: #fff;
  width: 100%;
  height: 70px;
  font-family: 'Poppins', sans-serif;
}



.datos_container{
  border: 2px solid #000;
  width: 100vw;
  display: flex;
  padding: 25px;
  background-color: rgb(176, 181, 181);
}

.img_container{
 width: 68%;
}

.circular--portrait {
    width: 202px;
    height: 202px;
    overflow: hidden;
    border: 2px solid #000;
    margin-left: 32px;
    border-radius: 50%;
    
  }
  
  .circular--portrait img {
    width: 100%;
    height: auto;
  }

  .datos_outer{
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 4px;
  }

  #datos {
    display: flex;
    flex-wrap: wrap;
    height: 170px;
    width: 339px;  
    /*margin-right: 15%;*/
    /*margin-left: 31%;*/
    padding: 15px;
    align-items: baseline;
    color: whitesmoke;
    background-color: rgb(79, 79, 79);
    box-shadow: 8px 8px #ff6600;  
  }

  .more{
    border: none;
    border-top-left-radius: 10px;
    border-left-top-radius: 10px;
    border-top-right-radius: 10px;
    border-right-top-radius: 10px;
    background-color: transparent;
    color: #ff6600;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
  }

  .selector_container{
    display: flex;
    padding: 25px;
    background-color: rgb(79, 79, 79);
    height: 40px;

  }



  .selector_btn_button{
    width: 150px;
    height: 45px;
    outline: none;
    background-color: rgb(63, 64, 64);
    color: #fff;
    border: none;
    border-bottom: 2px solid #ff6600; 
    border-top: 2px solid #000;
    cursor: pointer;
    
  }

  .selector_btn_button[id="0"]{
    border-top-left-radius: 15px;
    /**border-left-top-radius: 15px;*/
  }

  .selector_btn_button[id="2"]{
    border-top-right-radius: 15px;
    /**border-right-top-radius: 15px;*/

  }
    
  .selector_btn_button:hover{
    outline: none;
    background-color: rgb(40, 41, 41);
    color: #fff;
    border: none;
    border-bottom: 2px solid #ff6600; 
  /**
    border-top: 2px solid #803300;
  */
  }

  .selector_btn_button[value="active"]{
    outline: none;
    background-color: rgb(40, 41, 41);
    color: #fff;
    border: none;
    border-bottom: 2px solid #ff6600; 
  }

  .aptitudes{
    display: flex; 
    height: 500px;
    width: 100vw;  
    align-items: center;
    justify-content: space-around;
    background-color: #333333;
  }
  
  

.titulo{
  min-width: 200px;
  max-width: 400px;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  color: rgb(232, 230, 227);
  font-size: 30px;
  align-self: flex-start;
  padding: 0px;
  margin: 10px;
}

.h_title{
  margin-bottom:5px;
  border-bottom: 2px solid #ff6600;
  opacity: 0;
  transition: 1.5s;
}

.h_title_on{
  flex-shrink: 1;
  min-width: 150px;
  margin-bottom:5px;
  border-bottom: 2px solid #ff6600;
  opacity: 1;
  transition: 1.5s;
}

.content{
  height: auto;
  font-size: 17px;
  font-weight: 500;
  display: flex;
  width: 70%;
  min-width: 300px;
  max-width: 900px;
}

.content__exp{
  padding: 0px 10px 0px 10px;
  min-width: 400px;
  border-left: 2px solid #ff6600;
  margin-right: 10px;
  opacity: 0;
  transition: 1.5s;
}

.content__exp_on{
  padding: 0px 10px 0px 10px;
  min-width: 200px;
  max-width: 400px;
  border-left: 2px solid #ff6600;
  /**box-shadow: 0px 5px #993d00;*/
  margin-right: 10px;
  opacity: 1;
  transition: 1.5s;
  font-size: 22px;
  flex-grow: 1;
  flex-shrink: 1;
}

.content__exp_on li{
  margin-bottom: 14px;
  margin-top: 7px;
}

.content__sk_on{
  display: flex;
  flex-direction: column;
  background-color: rgba(232, 230, 227, 0.3);
  border-radius: 10px;
  box-shadow: 5px 5px rgb(23, 23, 22);
  opacity: 1;
  transition: 1.5s; 
  flex-grow: 1;
  flex-shrink: 1;
  margin: 15px;
  margin-bottom: 30px;
  height: auto;
  padding: 8px;
  width: 50%;
  max-width: 420px;
  min-width: 200px;
}


.skills_title{
  width: 100%;
  color: rgb(232, 230, 227);
}

.skills_title i{
  font-size: 45px;

}

.languages{
  min-width: 400px;
  display: flex;
  justify-content: space-between;
  color: rgb(232, 230, 227);
}

.languages_title{
  margin-right: 5px;
}

.language{
  display: flex;
  flex-grow: 1;
}

.language h2{
  min-width: 200px;
  color: #ff6600;
}

#english{
  display: inline-block;
}

#portuguese{
  display: inline-block;
}


.year{
  font-size: 20px;
  color: #ff6600;
  font-weight: 200;
  margin: 0px;
}

#company{
  color: rgb(232, 230, 227);
  font-size: 29px;
  margin: 20px;

}

li{
 color: rgb(232, 230, 227); 
 font-weight: 200;
}

#estudios{
  transition: 2s;
}

.content[name="skills"]{
display: flex;
}

#skills{
  display: flex;
  
}


.imagen{
  display: flex;
  max-width: 400px;
  min-width: 250px;
  height: 150px;
  object-fit: cover;
  margin: 5px;
  min-width: 100px;
  margin-left: 5%;
  flex-shrink: 1;
  flex-grow: 1;
}


.img{
  min-width: 250px;
  height: 150px;
  object-fit: cover;
}

.moreabout{
  font-size: 35px;
  padding: 10px;
}

.moreabout_title{
  font-size: 20px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-evenly;
}

.moreabout_content h3{
  color: #ff6600;
}

.moreabout_content p{
  font-size: 27px;
}

.moreabout_content{
  padding: 25px;
  border-radius: 30px;
  background-color: rgba(232, 230, 227, 0.3);
  max-width: 1700px;
  margin-right: auto;
  margin-left: auto;
}
.moreabout h1{
  display: block;
  color: rgb(232, 230, 227);
}

.contact{
  margin-bottom: 10px;
  padding: 10px;
}
.contact_title{
  font-size: 20px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-evenly;
}

.contact_title h1{
  display: block;
  color: rgb(232, 230, 227);
}

.contact_content{
  padding: 25px;
  border-radius: 30px;
  background-color: rgba(232, 230, 227, 0.3);
  max-width: 1700px;
  margin-right: auto;
  margin-left: auto;
}

#form{
  display: flex;
  flex-direction: column;
}

#form input{
  margin-bottom: 8px;
}

textarea[name="message"]{
  width: 50%;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  background-color: #333333;
  border: 2px inset #737373;
  outline: none;
  color: rgb(232, 230, 227);
}

input[name="name"]{
  width: 50%;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(63, 64, 64);
  border: 2px inset #737373;
  outline: none;
  color: rgb(232, 230, 227);
}

input[name="company"]{
  width: 50%;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(63, 64, 64);
  border: 2px inset #737373;
  outline: none;
  color: rgb(232, 230, 227);
}

input[name="email"]{
  width: 50%;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(63, 64, 64);
  border: 2px inset #737373;
  outline: none;
  color: rgb(232, 230, 227);
}

input[name="send"]{
  width: 30%;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(63, 64, 64);
  border: none;
  outline: none;
  color: #ff6600;
}

input[name="send"]:hover{
  background-color: rgb(40, 41, 41);
}

@media screen and (max-width: 1207px){
  .big_content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}